*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* header content*/
.header-content{
    border: 1px solid black;
    text-align: center;
    background-color: rgb(114, 108, 108);
}
.header-content p{
    margin-top: 10px;
    color: blanchedalmond;
    font-size: 30px;
}
/* end header content*/
/* section 2*/
/*navation bar*/
/*  navation top*/
.navbar{
    border: 1px solid black;
    background-color: rgb(114, 108, 108);
}
/*
.navbar-nav{
    border:1px solid black;
   background-color: rgb(59, 6, 17);
}*/
.nav-item{

}
.nav-link{
    color: cornsilk;
}
/* end navation top */
/* end section 2*/
/* section 3*/
/* navation below navation*/
#nablw{

}
#nav2{
    background-color: rgb(114, 108, 108);
}
/* end section3*/
/* main body*/
.heading{
    text-align: center;
    color: royalblue;
}
/* section 5*/
.forminput {
    border-radius: 5px 1px solid black;
    background-color: lightgrey;
    padding: 50px;
    text-align: center;
    

  }
input[type=text], input[type=number] , select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type=submit] {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
/*end section5*/
/* section6*/
.h3{
    text-align: center;
}
.h4{
    margin-left: 110px; 
}
/* end section6*/
/* section8*/
.acti{
    color: rgb(30, 30, 30); 
    background-color: rgb(242, 242, 242); 
    background-image: url(); 
    padding-top: 50px; 
    padding-bottom: 30px; 
    background-attachment: fixed; 
    background-position: 50% 1px;
}
.acti-img{
    margin: 0 auto; 
    width: 110px; 
    height: 110px; 
    padding: 10px; 
    background-color: #0facce; 
    border-radius: 50%;
}



.section8{
    margin: 5px;
}
.icon{
    text-align: center;
}
/* end section8*/
/* over layout page*/
.ffp {
    display: none;
    position: fixed;
    bottom: 0;
    right: 25px;
    border: 5px solid #1a1212;
    z-index: 9;
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: orangered;
  }
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    color: black;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text], .form-container input[type=password] {
    color: rgb(12, 9, 8);
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  #diste{
    margin-left: 100px;
  }
  #distee{
    margin-left: 160px;
  }
  /* Add a red background color to the cancel button */
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  #somet{
    margin-left: 50px;
  }
  